---
import { Image } from "astro:assets";

import PageLayout from "@/layouts/Base";
import profilePic from "@/assets/me.jpg";

const meta = {
	title: "About",
	description: "I'm a starter theme for Astro.build",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">A Lil' Bit About Myself</h1>
		<div class="flex justify-center">
			<Image
				class="w-1/2"
				src={profilePic}
				alt="Myself"
				loading="eager"
				fetchpriority="high"
				format="jpeg"
			/>
		</div>
		<p>
			I was fascinated by technology in general from an early age and have followed that sense of
			curiosity to this day. I was lured into programming by a desire to make games and quickly
			became enthralled by the possibilities of what one could build with just a compiler and their
			imagination. From my time at college I developed a deeper appreciation for mathematics and the
			theory of computation, with a particular interest in programming language theory. These days I
			spend my time trying to keep up with the never-ending accretion of web technologies and
			setting up this blog.
		</p>
	</div>
</PageLayout>
